## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(2)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop('EIN', axis=1, inplace= True)
application_df.head(2)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
#WE  are bringing names back
a = application_df['NAME'].value_counts()
application_types_to_replace = a[a < 5].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
#MAKE the 'other catagory' about the same size as other catagories
app_count[app_count < 540].index

Index(['T10', 'T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object')

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_count[app_count < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
count = application_df['CLASSIFICATION'].value_counts()
count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filter = count[count>1]
filter

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = [count[count <500].index]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [11]:
application_df.nunique()

NAME                       403
APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION               7
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df= pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
#ensure that all catagorical are now numerical
application_df.dtypes

STATUS                                    int64
ASK_AMT                                   int64
IS_SUCCESSFUL                             int64
NAME_AACE INTERNATIONAL                   uint8
NAME_ACE MENTOR PROGRAM OF AMERICA INC    uint8
                                          ...
INCOME_AMT_25000-99999                    uint8
INCOME_AMT_50M+                           uint8
INCOME_AMT_5M-10M                         uint8
SPECIAL_CONSIDERATIONS_N                  uint8
SPECIAL_CONSIDERATIONS_Y                  uint8
Length: 448, dtype: object

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
#drop the target
application_df.drop('IS_SUCCESSFUL', axis=1, inplace=True)
X= application_df
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 85)

# Split the preprocessed data into a training and testing dataset

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
feat = len(X_train_scaled[0])
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=2), activation=activation, input_dim=feat))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=2),
            activation=activation))
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [17]:
# this seems to need to be run every time the notebook is opnened
!pip install -q -U keras-tuner

      128.9/128.9 kB 2.8 MB/s eta 0:00:00

In [18]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [19]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 01m 24s]
val_accuracy: 0.7982507348060608

Best val_accuracy So Far: 0.7994168996810913
Total elapsed time: 00h 28m 30s

In [20]:
print(X_train_scaled.shape)
print(y_train.shape)

(25724, 447)
(25724,)

In [22]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4269 - accuracy: 0.7994 - 575ms/epoch - 2ms/step
Loss: 0.42690014839172363, Accuracy: 0.7994168996810913

In [23]:

# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 35,
 'num_layers': 1,
 'units_0': 55,
 'units_1': 11,
 'units_2': 15,
 'units_3': 89,
 'units_4': 91,
 'units_5': 91,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0022'}

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
features = len(X_train_scaled[0])
model = tf.keras.models.Sequential()
# First hidden layer
model.add(tf.keras.layers.Dense(units=35, activation="tanh", input_dim=features))

# Second hidden layer
model.add(tf.keras.layers.Dense(units=31, activation="tanh"))

model.add(tf.keras.layers.Dense(units=55, activation="tanh"))
model.add(tf.keras.layers.Dense(units=11, activation="tanh"))
#model.add(tf.keras.layers.Dense(units=65, activation= "sigmoid"))
#model.add(tf.keras.layers.Dense(units=65, activation = 'sigmoid'))
#outer layer
model.add(tf.keras.layers.Dense(units=1, activation= 'sigmoid'))


# Check the structure of the model
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 35)                15680

 dense_4 (Dense)             (None, 31)                1116

 dense_5 (Dense)             (None, 55)                1760

 dense_6 (Dense)             (None, 11)                616

 dense_7 (Dense)             (None, 1)                 12

=================================================================
Total params: 19184 (74.94 KB)
Trainable params: 19184 (74.94 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.4787 - accuracy: 0.7663
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4343 - accuracy: 0.7945
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7947
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7961
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4238 - accuracy: 0.7976
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4221 - accuracy: 0.7980
Epoch 7/50
804/804 [==============================] - 4s 4ms/step - loss: 0.4206 - accuracy: 0.7991
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7987
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.8005
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4174 - accuracy: 0.8009
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.8012
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4156 - accuracy: 0.8009
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8021
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4136 - accuracy: 0.8018
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8026
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4128 - accuracy: 0.8032
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8030
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4114 - accuracy: 0.8031
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4114 - accuracy: 0.8034
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8036
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8040
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4092 - accuracy: 0.8043
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8046
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4079 - accuracy: 0.8054
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4081 - accuracy: 0.8045
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8059
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4066 - accuracy: 0.8061
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8055
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4060 - accuracy: 0.8057
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4057 - accuracy: 0.8059
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4053 - accuracy: 0.8060
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8070
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4047 - accuracy: 0.8071
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8069
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4050 - accuracy: 0.8066
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4039 - accuracy: 0.8067
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8070
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8070
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4032 - accuracy: 0.8064
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8069
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4030 - accuracy: 0.8076
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8069
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4026 - accuracy: 0.8087
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4026 - accuracy: 0.8079
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8068
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8073
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4018 - accuracy: 0.8074
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8068
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4011 - accuracy: 0.8088
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8072

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4453 - accuracy: 0.7936 - 486ms/epoch - 2ms/step
Loss: 0.4453352689743042, Accuracy: 0.793586015701294

In [28]:
model.save('CharityAutoOptimazation.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(